#request-bytes-form {
    margin-top: 30px;
}

#request-bytes-form input {
    max-width: 63px;
}

#request-bytes-form div.form-group > div {
    padding: 0 2px;
}

#request-bytes-form div.form-group label {
    position: absolute;
    top: 60px;
    width: auto;
}

.content {
    margin-top: 70px;
}

/* Response bytes colors */
.byte_id {
    background: #f7eaed;
}

.byte_data {
    background: #f7f7f7;
}

.byte_ch {
    background: #f1f7e8;
}

.byte_cmd {
    background: #eae7f7;
}


.console {
    font-family: Courier;
    color: #CCCCCC;
    background: #000000;
    border: 3px double #CCCCCC;
    padding: 10px;
}
